img {
  max-height: 15vw;
  margin-top: 3vh;
  width: auto;
  float: left;
}

#container {
  display: grid;
  background-color: beige;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  /*width :200px;*/
}

.piece {
  outline: 0.5px solid grey;
}
